<div class="container">
    <h2>Lista kontrolora</h2>
    <button class="btn btn-primary mb-3" (click)="addController()">Dodaj novog kontrolora</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ime kontrolora</th>
          <th>Prezime kontrolora</th>
          <th>Broj telefona</th>
          <th>Email</th>
          <th>Izmeni</th>
          <th>Izbriši</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let controller of controllers">
          <td>{{ controller.firstName }}</td>
          <td>{{ controller.lastName }}</td>
          <td>{{ controller.phoneNumber }}</td>
          <td>{{ controller.email }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editController(controller)">Izmeni</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteController(controller)">Izbriši</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
