<div class="container">
  <div *ngIf="isCorrect" class="alert alert-success">
    <strong>Uspesno obavljanje kontrole!</strong>
  </div>
    <h2>Kontrola vozila</h2>
    <form (ngSubmit)="submitControlEntry()">
    
      <div class="form-group">
        <label for="controlTime">Vreme kontrole:</label>
        <input type="datetime-local" id="controlTime" [(ngModel)]="controlEntry.Time" name="controlTime" class="form-control" required>
      </div>
      
     
      <button type="submit" class="btn btn-primary">Sačuvaj</button>
    </form>
  </div>
  
