.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.btn {
    display: inline;
    margin-top: 10px;
    float: right;
}
.form-group {
    margin-bottom: 20px;
    font-size: 13px;
}
input {
    font-size: 10px;
    margin-top: 5px;
}
h2 {
    text-align: center;
    padding: 20px;
    color:  #007bff;
}

