<div class="container">
    <h2>Kazne</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datum i vreme</th>
          <th>Cena</th>
          <th>Vozilo</th>
          <th>Razlog</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let penalty of penalties">
          <td>{{ penalty.DateTime }}</td>
          <td>{{ penalty.Price }}</td>
          <td>{{ penalty.VehicleId }}</td>
          <td>{{ penalty.Why }}</td>
          <td *ngIf="penalty.Reason!=''">{{penalty.Reason}}</td>
          <td *ngIf="penalty.Reason=='' && set==penalty.Id"><input [(ngModel)]="reason" type="text" class="form-control" placeholder="Razlog skidanja kazne"></td>
          
          <td>
            <button *ngIf="penalty.Reason=='' && set!=penalty.Id" class="btn btn-danger btn-sm" (click)="delete(penalty.Id)">Skini kaznu</button>
            <button *ngIf="set==penalty.Id" class="btn btn-danger btn-sm" (click)="deletePenalty(penalty.Id)">Potvrdi</button>
          </td>
          <td>
            <button *ngIf="set==penalty.Id" class="btn btn-light btn-sm" (click)="cancel()">Odustani</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
