.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;

}
h2 {
    margin-bottom: 10px;
}
label {
    margin-bottom: 10px;
}
.btn {
    display: inline;
    margin-top: 10px;
    float: right;
}
h3 {
    margin-top: 15px;
    text-align: left;
    color: #007bff; 
    margin-bottom: 20px; 
    font-weight: 700;
  }
  .card {
      background-color: rgb(216, 213, 213);
      width: 100%;
      border-radius: 25px;
      padding: 1rem 2rem;
      
      
  }
  #vazeca { background-color: rgb(179, 223, 179); padding: 1.2rem; border-radius: 30px;}
  #istekla { background-color: rgb(226, 158, 158); padding: 1.2rem; border-radius: 30px;}