.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-top: 30px;
  }
  
.card-body {
    padding: 10px;
}

.form-group {
    margin-bottom: 20px;
    font-size: 13px;
}
input {
    font-size: 10px;
    margin-top: 5px;
}

.text-center a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
.text-center a.active {
    color:  #007bff;
    margin-top: 20px;
  }
  
.text-center {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  

