<div id="mapszones">
    <div id="search">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Zona</th>
                        <th>Broj mesta</th>
                        <th>Slobodna mesta</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of zones" >
                        <td scope="row">{{item.name}}</td>
                        <td scope="row">{{item.numberOfPlaces}}</td>
                        <td scope="row">{{item.numberOfPlaces - item.parkingPlaces.length}}</td>
                        <td  scope="row"><button (click)='search(item,item.id)'>Pretraga</button></td>
                       
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
    <div class="map-container">
        <div class="map-frame">
        <div id="map"></div>
        </div>
    </div>
</div>