.container {
  max-width: 100%;
}

.carousel-item {
  height: 600px; 
  position: relative;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(4px);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
}
