<div class="container">
    <h2>Zone</h2>
    <button class="btn btn-primary mb-3" (click)="add()">Dodaj novu zonu</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Naziv zone</th>
          <th>Broj parking mesta</th>
          <th>Adresa</th>
          <th>Izmeni</th>
          <th>Izbriši</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zone of zones">
          <td>{{ zone.Name }}</td>
          <td>{{ zone.NumberOfPlaces }}</td>
          <td>{{ zone.Address }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editZone(zone.Id,zone)">Izmeni</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteZone(zone.Id)">Izbriši</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>


<!-- zone-form.component.html -->
<div class="container2" id="editcont" *ngIf="disp">
  <h2>Izmena zone</h2>
  <form #zoneForm="ngForm">
    <div class="form-group">
      <label for="name">Naziv zone:</label>
      <input type="text" class="form-control" id="name" name="name" required
             [(ngModel)]="zoneU.Name" #name="ngModel">
    </div>
    <div class="form-group">
      <label for="numberOfPlaces">Broj parking mesta:</label>
      <input type="number" class="form-control" id="numberOfPlaces" name="numberOfPlaces" required
             [(ngModel)]="zoneU.NumberOfPlaces" #numberOfPlaces="ngModel">
    </div>
    <div class="form-group">
      <label for="address">Adresa:</label>
      <input type="text" class="form-control" id="address" name="address" required
             [(ngModel)]="zoneU.Address" #numberOfPlaces="ngModel">
    </div>
    <button  class="btn btn-primary" (click)="edit(zoneU.Id,zoneU)">Sačuvaj</button>
  </form>
</div>
<div class="container2" id="editcont" *ngIf="disp2">
  <h2>Unos zone</h2>
  <form #zoneForm="ngForm">
    <div class="form-group">
      <label for="name">Naziv zone:</label>
      <input type="text" class="form-control" id="name" name="name" required
             [(ngModel)]="zoneNew.Name" #name="ngModel">
    </div>
    <div class="form-group">
      <label for="numberOfPlaces">Broj parking mesta:</label>
      <input type="number" class="form-control" id="numberOfPlaces" name="numberOfPlaces" required
             [(ngModel)]="zoneNew.NumberOfPlaces" #numberOfPlaces="ngModel">
      <label for="address">Adresa:</label>
      <input type="text" class="form-control" id="address" name="address" required
             [(ngModel)]="zoneNew.Address" #street="ngModel">
    </div>
    <button  class="btn btn-primary" (click)="addZone(zoneNew)">Dodaj</button>
  </form>
</div>