<!-- zone-details.component.html -->
<div class="container mt-5">
  <!-- Vehicle Info -->
  <div class="vehicle-info mb-5">
    <h2>Moje vozilo </h2>
    <p><strong>Registracija:</strong> {{ vehicle.regNumber }}</p>
    <p><strong>Marka:</strong> {{ vehicle.mark }}</p>
    <p><strong>Naziv:</strong> {{ vehicle.name }}</p>
  </div>

  <!-- Penalties Table -->
  <div class="container mb-5">

    <h3 *ngIf="penalties.length == 0">Nema napisanih kazni za vozilo.</h3>
    
    <table *ngIf="penalties.length != 0" class="table table-striped">
      <thead>
        <tr>
          <th>Datum Kazne</th>
          <th>Razlog</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let penalty of penalties">
          <td>{{ penalty.DateTime }}</td>
          <td>{{ penalty.Why }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Zone Details -->
  
</div>
